<ul class="post__comments__list">

    {{#each comments as |comment|}}

        <li class="post__comments__item">

            {{comment-leaf comment=comment}}

            {{#if comment.data.replies}}
                {{comment-tree comments=comment.data.replies.data.children}}
            {{/if}}

        </li>

    {{/each}}

</ul>
