@import "compass";

.subreddit__grid-tile {

  width: 400px;
  background-color: #ffffff;

  img {
    display: block;
    width: 100%;
  }

  img.full-size {

    display: none;

    &.image-ready {
      display: block;
    }

  }

}

.subreddit__grid-tile__header {
  padding: 0.5em;
}
