@import "compass";

// feed list

.feed-list__item__thumbnail {
  @include flex(0 0 4.5em);
  height: 100%;
  background-color: black;
  color: white;
  background-position: 50%;
  background-size: cover;
  display: flex;
  @include justify-content(center);
  @include align-items(center);

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    @include text-shadow(0 0 10px black)
  }

}

.feed-list__item__title {
  font-size: 1.2em;
  @include flex(1 0 0);
  margin-left: 0.5em;
  font-weight: bold;
}

// feed grid

.subreddit__grid-tile {

  overflow: hidden;
  width: 400px;
  background-color: #3F3D3F;

  span, a {
    color: #ADADAD;
  }

  img {
    display: block;
    width: 100%;
  }

}

.grid-tile__metadata {
  padding: 0.5em;
}

.grid-tile__title-bar {

  a {
    display: block;
  }

  span {
    font-weight: bold;
  }

  font-size: 1.2em;
  padding: 0.5em;

}