@import "compass";

.home__subscription-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.home__subscription-list {
  padding: 1em;
  display: inline-table;

  > li {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 12em;
    height: 12em;
    vertical-align: top;
  }

}

.home__subscription-item {
  @include transition(0.25s);
  position: absolute;
  background-color: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &:hover {
    @include box-shadow(0 0 20px 2px black);
    z-index: 100;
    top: -1em;
    bottom: -1em;
    left: -1em;
    right: -1em;
  }

  > a {
    display: flex;
    @include align-items(center);
    height: 3em;
    padding-left: 1em;
    background-color: #5E94B2;

    h1 {
      //font-size: 1.5em;
      font-weight: bold;
    }

  }

  > div {
    padding: 1em;
  }

}