@import "compass";

.mine__fullscreen-toggle {
  @include transition(0.5s);
  cursor: pointer;
  $gap: 0.5em;
  $size: 2em;
  font-size: 2em;
  position: absolute;
  top: $gap;
  left: $gap;
  height: $size;
  width: $size;
  display: flex;
  @include align-items(center);
  @include justify-content(center);

  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}