@import "compass";

.subreddit__post-container {

  overflow-y: auto;

  img {
    display: block;
    width: 100%;
  }

}

.post__title-bar {
  height: 3em;
  display: flex;
  @include align-items(center);
  background-color: #A1A1A1;
  padding-left: 1em;
  padding-right: 0.4em;
}

.post__title-bar__title {
  @include flex(1 0 0);
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: rgb(48, 48, 48);
  }

}

.post__title-bar__stats {
  @include flex(0 0 auto);
  margin-left: 1em;
  height: 80%;
}

%stats-entry {
  display: inline-flex;
  height: 100%;
  font-weight: bold;
  font-size: 2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  @include justify-content(center);
  @include align-items(center);
}

.post__title-bar__score {
  @extend %stats-entry;
  background-color: rgb(69, 69, 69);
  color: rgb(231, 231, 231);
}

.post__title-bar__up {
  @extend %stats-entry;
  background-color: green;
  color: greenyellow;
}

.post__title-bar__down {
  @extend %stats-entry;
  background-color: darkred;
  color: red;
}

.post__title-bar__link {
  @extend %stats-entry;
  background-color: rgb(231, 231, 231);
  color: rgb(69, 69, 69);
}

// comments

$comments-indentation: 10px;

.post__comments-container {
  overflow: hidden;
}

.post__comments__tree {
  overflow: hidden;
  padding-right: $comments-indentation;
}

.post__comments__loading {
  height: 3em;
  background-color: #212022;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  color: gray;
  font-weight: bold;
}

.post__comments__root {
  margin-left: $comments-indentation;
}

.post__comments__body {
  background-color: #252525;
  color: gray;
  min-height: 2em;
  margin: $comments-indentation;
  margin-left: 0;
  margin-right: 0;
  border-left: solid 10px #5E94B2;
  padding: 10px;
  display: flex;
  @include align-items(center);

  p {
    font-size: 1.2em;
  }

}