@import "compass";

.sidebar-container {
  width: 15em;
}

.sidebar__search {

}

.sidebar__search__input-container {

  height: 4em;
  background-color: rgb(218, 218, 218);
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  @include justify-content(center);
  @include align-items(center);

  input {
    outline: none;
    border: 0;
    font-size: 2em;
    background-color: transparent;
    width: 100%;
  }

}

.sidebar__search__candidates-container {

  background-color: gray;

  ul {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  li {
    padding: 5px;
    padding-left: 0.5em;
    color: #D2D2D2;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;

    &:hover {
      background-color: #5E94B2;
    }

  }

}

.sidebar__account-container {
  padding: 0.5em;
  padding-right: 0;
}

.sidebar__account {
  background-color: gray;
  position: relative;
  display: flex;
  height: 4em;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;

  > h1 {
    @include flex(5 0 0);
    display: flex;
    @include justify-content(center);
    @include align-items(center);
  }

  > div {
    cursor: pointer;
    @include flex(1 0 0);
    background-color: red;
    display: flex;
    @include justify-content(center);
    @include align-items(center);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

}

#sidebar__account__profile {

  > h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2em;
  }

  > div {
    background-color: darkred;
    color: red;
  }

}

#sidebar__account__login {

  > div {
    background-color: green;
    color: greenyellow;
  }

}


.sidebar__profile-container {

  li {
    height: 3em;
    padding-left: 1em;
    background-color: #212022;
    color: #ADADAD;
    display: flex;
    @include align-items(center);
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      border-left: solid 0.5em #5E94B2;
      background-color: #504F50;
    }

  }

}