@import "../utils";
@import "compass";

$navbar-height: 4em;

.subreddit-container {

  @include box-shadow(-4px 0px 3px 0px rgba(68, 68, 68, 0.7));
  @include transition(left 0.5s);
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 15em;

  padding-top: $navbar-height+1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: $deep-green;

  &.is-fullscreen {
    left: 0;
  }

}


.subreddit__navbar {
  position: absolute;
  height: $navbar-height;
  left: 0;
  right: 0;
  top: 0;
  background-color: $dark-green;
}

.subreddit__navbar__toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: $navbar-height;
  height: $navbar-height;
  cursor: pointer;

  span {
    @extend %center-element;
    font-size: $navbar-height/2;
    height: 1em;
    width: 1em;
  }

}


.subreddit__navbar__header {
  position: absolute;
  left: $navbar-height+1em;
  top: 0;
  height: 100%;

  h1 {
    @extend %center-element;
    font-size: $navbar-height/2;
    height: 1em;
    text-transform: uppercase;
  }

}


.subreddit__grid-container {
  padding-top: 1em;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}


.subreddit__grid {
  position: relative;
  min-height: 95%;
}


.subreddit__load {
  font-size: $navbar-height/3;
  height: 5%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: $pale-green;
}


.subreddit__navbar__order-switcher {

  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  height: 100%;

  font-size: 100%;

  li {

    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    min-width: 5em;
    background-color: rgb(74, 110, 74);

    a, a:link, a:visited {
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      display: block;
      height: 100%;
      width: 100%;
      color: white;
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 1.2em;
      box-sizing: border-box;
    }

    span {
      font-size: 1.5em;
      height: 1em;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
    }

    &:hover, &.is-current {
      border-bottom: solid 0.5em #A9FFB6;
      background-color: rgb(114, 181, 114);
    }

  }

}