@import "../utils";
@import "compass";

$navbar-height: 4em;

.main-container {

  @include box-shadow(-4px 0px 3px 0px rgba(68, 68, 68, 0.7));
  @include transition(left 0.5s);
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 20em;

  padding-top: $navbar-height+1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #2C2B2C;

  &.is-fullscreen {
    left: 0;
  }

}

.subreddit-container {
  height: 100%;
  width: 100%;
}


.subreddit__navbar {
  position: absolute;
  height: $navbar-height;
  left: 0;
  right: 0;
  top: 0;
  background-color: #212022;
  color: #ADADAD;

  span {
    color: #ADADAD;
  }

}

.subreddit__navbar__toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: $navbar-height;
  height: $navbar-height;
  cursor: pointer;

  span {
    @extend %center-element;
    font-size: $navbar-height/2;
    height: 1em;
    width: 1em;
  }

}


.subreddit__navbar__header {
  position: absolute;
  left: $navbar-height+1em;
  top: 0;
  height: 100%;

  h1 {
    @extend %center-element;
    font-size: $navbar-height/2;
    height: 1em;
    text-transform: uppercase;
  }

}

//=======================================================
// Subreddit
//=======================================================

$feed-list-gap: 8px;

.subreddit__container {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.subreddit__feeds-container {
  padding-top: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

// when post

.subreddit__container.not-full {
  display: flex;
  @include flex-direction(row);
}

.subreddit__feeds-container.not-full {
  @include flex(0 0 25em);
  padding: $feed-list-gap;
}

.subreddit__post-container {
  @include flex(1 0 0);
  background-color: #424245;
}

// grid tile

.subreddit__grid-container {
  min-height: 95%;
}

.subreddit__grid {
  position: relative;
}

// feed list

.subreddit__feed-list__item {

  background-color: #3F3D3F;
  height: 5em;
  margin-bottom: $feed-list-gap;
  padding: 5px;
  font-size: 1.2em;
  color: gray;
  display: flex;
  @include align-items(center);
  overflow: hidden;

  &.is-current, &.is-current:hover {
    background-color: #A1A1A1;
    color: #212022;
  }

  &:hover {
    background-color: #212022;
  }

}

.subreddit__load {
  font-size: $navbar-height/3;
  height: 5%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #212022;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
}




.subreddit__navbar__order-switcher {

  $navbar-switcher-gap: 5px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 100%;
  padding: $navbar-switcher-gap;

  li {

    display: inline-block;
    height: 100%;

    a:hover, &.is-current a {
      border-bottom: solid 0.5em #5E94B2;
      background-color: #504F50;
    }

    a {

      display: block;
      position: relative;
      min-width: 5em;
      background-color: #3C3B3C;
      height: 100%;
      box-sizing: border-box;
      padding: 1em;

      span {
        font-size: 1.5em;
        font-weight: bold;
        height: 1em;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
      }

    }


  }

}