<div class="sidebar__search">

    <div class="sidebar__search__input-container">
        {{input valueBinding="controllers.search.keyword" placeholder="Search..."}}
    </div>

    <div class="sidebar__search__candidates-container">
        {{#if controllers.search.candidates}}
            <ul>
                {{#each name in controllers.search.candidates}}
                    {{#link-to "subreddit" name}}
                        <li>/r/{{name}}</li>
                    {{/link-to}}
                {{/each}}
            </ul>
        {{/if}}
    </div>

</div>

{{#if controllers.account.popup}}
    <div>Please finish login in the pupup window</div>
{{else}}
    <div {{action "loginPopup" target=controllers.account}}>Login</div>
{{/if}}