<div>{{name}}</div>
<div>{{order}}</div>

<div class="subreddit__grid-container">

    {{#view "feedGrid"}}

        {{#each feed in controllers.stream}}

            {{#view "feedTile" controller=feed}}
                {{author}}
            {{/view}}

        {{/each}}

    {{/view}}

    <div {{action "loadMore"}}>load more</div>

</div>
