<div>{{name}}</div>
<div>{{order}}</div>
<div>{{controllers.stream.name}}</div>
<div>
    <ul>
        {{#each feed in controllers.stream}}
            <li>
                {{feed.subreddit}}
            </li>
        {{/each}}
    </ul>
</div>