<div>{{name}}</div>
<div>{{order}}</div>
<div>

    <ul>
        {{#each feed in controllers.stream}}
            <li>
                {{feed.author}}
            </li>
        {{/each}}
    </ul>

    <div {{action "loadMore"}}>load more</div>

</div>
