{{#subreddit-window subreddit=controller application=controllers.application}}

    {{#if isFull}}

        <div class="subreddit__feed-grid-container">
            {{feed-grid stream=controllers.stream}}
        </div>

    {{else}}

        <div class="dual-panel__container">

            <div class="dual-panel__feed-list-container">
                {{feed-list stream=controllers.stream}}
            </div>

            <div class="dual-panel__post-container">
                {{outlet}}
            </div>

        </div>

    {{/if}}

{{/subreddit-window}}