{{#subreddit-window subreddit=subreddit application=controllers.application}}

    {{#if isFull}}

        <div class="subreddit__feed-grid-container">
            {{feed-grid subreddit=subreddit enter="enter"}}
        </div>

    {{else}}

        <div class="dual-panel__container">

            <div class="dual-panel__feed-list-container">
                {{feed-list subreddit=subreddit enter="enter"}}
            </div>

            <div class="dual-panel__post-container">
                {{outlet}}
            </div>

        </div>

    {{/if}}

{{/subreddit-window}}