<div class="subreddit-container">

    <div class="subreddit__navbar">

        <div>{{name}}</div>
        <div>{{order}}</div>

        <ul class="subreddit__navbar__order-switcher">
            <li>{{#link-to "subreddit" this.model (query-params order="hot")}}HOT{{/link-to}}</li>
            <li>{{#link-to "subreddit" this.model (query-params order="new")}}NEW{{/link-to}}</li>
            <li>{{#link-to "subreddit" this.model (query-params order="top")}}TOP{{/link-to}}</li>
            <li>{{#link-to "subreddit" this.model (query-params order="controversial")}}CONTROVERSIAL{{/link-to}}</li>
        </ul>
    </div>

    <div class="subreddit__grid-container">

        {{#view "feedGrid"}}

            {{#each feed in controllers.stream}}

                {{view "feedTile" controller=feed}}

            {{/each}}

        {{/view}}

        <div {{action "loadMore"}}>load more</div>

    </div>

</div>