@import "compass";

// feed list

.feed-list__item__thumbnail {
  @include flex(0 0 4.5em);
  height: 100%;
  background-color: black;
  color: white;
  background-position: 50%;
  background-size: cover;
  display: flex;
  @include justify-content(center);
  @include align-items(center);

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    @include text-shadow(0 0 10px black)
  }

}

.feed-list__item__title {
  @include flex(1 0 0);
  margin-left: 0.5em;
  max-height: 100%;
  font-weight: bold;
}