<ul class="post__comments__list">
    {{#each comment in view.comments}}
        <li class="post__comments__item">

            <h1 class="post__comments__body">
                <p>
                    {{#if comment.data.body}}
                        {{comment.data.body}}
                    {{else}}
                        [Deleted]
                    {{/if}}
                </p>
            </h1>

            {{#if comment.data.replies}}
                {{view "commentTree" comments=comment.data.replies.data.children}}
            {{/if}}

        </li>
    {{/each}}
</ul>