@import "compass";

@mixin icon-blink($name, $from, $to, $speed) {
  @include keyframes($name) {
    0% { background-color: $from }
    100% { background-color: $to }
  };
  @include animation-name($name);
  @include animation-duration($speed);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
}


.content-status {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  @include transition(0.5s);

  span {
    font-size: 2em;
    font-weight: bold;
  }

}

.vote-button, .save-button, .reddit-link {
  @extend .content-status;
}

.save-button {

  background-color: #B6B67F;

  span { color: white; }

  &:hover {
    background-color: #ffffff;
    span { color: #B6B67F; }
  }

  &.is-pending {
    @include icon-blink(save-blink, #B6B67F, rgb(249, 255, 0), 0.3s);
  }

  &.is-on {
    span { color: rgb(249, 255, 0); }
  }

}

.vote-button {
  span { color: white; }
}

.vote-button.upvote {

  background-color: #6EC26E;

  &:hover {
    background-color: white;
    span { color: #6EC26E; }
  }

  &.is-pending {
    @include icon-blink(upvote-blink, #6EC26E, green, 0.3s);
  }

  &.is-on {
    span { color: green; }
  }

}

.vote-button.downvote {

  background-color: #DA7575;

  &:hover {
    background-color: white;
    span { color: #DA7575; }
  }

  &.is-pending {
    @include icon-blink(downvote-blink, #DA7575, darkred, 0.3s);
  }

  &.is-on {
    span { color: darkred; }
  }

}


.reddit-link {

  background-color: rgb(87, 87, 87);
  span { color: white; }

  &:hover {
    background-color: white;
    span { color: rgb(87, 87, 87); }
  }

}