@import "compass";

$status-item-size: 60px;

.feed-tile__status-bar {
  display: flex;
  @include flex-direction(row);
  height: $status-item-size;

  span {
    color: white;
  }

}

.link__score {
  @include flex(1 0 0);
  cursor: pointer;
  background-color: gray;

  span {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
}

.link__upvote, .link__downvote, .link__save, .link__reddit, .link__enter {

  @include flex(0 0 $status-item-size);
  cursor: pointer;

  span {
    font-size: 2em;
  }

}

.link__status-icon {
  height: 100%;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
}

.link__upvote {
  background-color: rgb(74, 142, 74);
  &:hover {}
  &.is-pending {}
  &.is-on {}
}

.link__downvote {
  background-color: rgb(166, 59, 59);
  &:hover {}
  &.is-pending {}
  &.is-on {}
}

.link__score {
  &:hover {}
}

.link__save {
  background-color: rgb(142, 142, 65);
  span { color: gold; }

  &:hover {}

  &.is-pending {
    span { color: whitesmoke; }
  }

  &.is-on {}

}

.link__reddit {
  background-color: rgb(87, 87, 87);
  span { color: white; }
}


.link__enter {
  background-color: rgb(231, 231, 231);
  span { color: gray; }
}