@import "compass";

.subreddit__grid-tile {
  @include box-shadow(0px 0px 5px 2px rgba(0, 0, 0, 0.5));
  overflow: hidden;
  width: 400px;
  background-color: #3F3D3F;

  img {
    display: block;
    width: 100%;
  }

}

.grid-tile__title-bar {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}

.feed-tile__info {
  font-family: "open sans";
  padding: 0.7em;

  a, span {
    color: #ADADAD;
    display: block;
  }

}

$status-item-size: 60px;

.feed-tile__status-bar {
  display: flex;
  @include flex-direction(row);
  height: $status-item-size;

  span {
    color: white;
  }

}

.link__score {
  @include flex(1 0 0);
  cursor: pointer;
  background-color: gray;

  span {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
}

.link__upvote, .link__downvote, .link__save, .link__reddit, .link__enter {

  @include flex(0 0 $status-item-size);
  cursor: pointer;

  span {
    font-size: 2em;
  }

}

.link__status-icon {
  @include transition(0.5s);
  height: 100%;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  span { font-weight: bold; }
}

.link__upvote {
  background-color: #6EC26E;

  &:hover {
    background-color: white;
    span { color: #6EC26E; }
  }

  &.is-pending {}

  &.is-on {
    span { color: green; }
  }

}

.link__downvote {
  background-color: #DA7575;

  &:hover {
    background-color: white;
    span { color: #DA7575; }
  }

  &.is-pending {}

  &.is-on {
    span { color: darkred; }
  }

}

.link__score {
  &:hover {}
}

.link__save {
  background-color: #B6B67F;

  &:hover {
    background-color: #ffffff;
    span { color: #B6B67F; }
  }

  &.is-pending {
    span { color: whitesmoke; }
  }

  &.is-on {
    span { color: rgb(249, 255, 0); }
  }

}

.link__reddit {
  background-color: rgb(87, 87, 87);
  span { color: white; }

  &:hover {
    background-color: white;
    span { color: rgb(87, 87, 87); }
  }

}


.link__enter {
  background-color: gray;
  span { color: rgb(231, 231, 231); }

  &:hover {
    background-color: rgb(231, 231, 231);
    span { color: gray; }
  }

}