{{#each feed in stream}}

    {{#link-to "subreddit.post" feed.id}}

        {{feed-list-item feed=feed}}

    {{/link-to}}

{{/each}}

<div class="subreddit__load" {{action "loadMore" target=stream}}>
    {{#if stream.isLoading}}
        Loading...
    {{else}}
        Load More
    {{/if}}
</div>
