{{#each feed in stream}}

    {{#link-to "subreddit.post" feed.id}}

        {{feed-list-item feed=feed}}

    {{/link-to}}

{{/each}}


<div class="subreddit__load" {{action "more"}}>
    {{#if isLoading}}
        Loading...
    {{else}}
        Load More
    {{/if}}
</div>