<ul class="subreddit__grid">
    {{#each feed in stream}}
        {{feed-tile feed=feed enter="enter"}}
    {{/each}}
</ul>

{{#if isEnd}}
    <div class="subreddit__load">This is the end</div>
{{else}}
    <div class="subreddit__load" {{action "more"}}>
        {{#if isLoading}}
            Loading...
        {{else}}
            Load More
        {{/if}}
    </div>
{{/if}}