{{#each feed in stream}}

    {{feed-list-item feed=feed enter="enter"}}

{{/each}}


<div class="subreddit__load" {{action "more"}}>
    {{#if isLoading}}
        Loading...
    {{else}}
        Load More
    {{/if}}
</div>