<ul class="subreddit__grid">
    {{#each feed in stream}}
        {{feed-tile feed=feed enter="enter"}}
    {{/each}}
</ul>

{{#if isEnd}}
    <div class="subreddit__load">
        <span>This is the end</span>
    </div>
{{else}}
    <div class="subreddit__load" {{action "more"}}>
        <span>
            {{#if isLoading}}
                Loading...
            {{else}}
                Load More
            {{/if}}
        </span>
    </div>
{{/if}}