%center-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

$dark-blue: #21333D;
$deep-blue: #405365;
$pale-blue: #65727E;

$dark-green: #4d8456;
$deep-green: #64ac70;
$pale-green: #92D19C;