@import "reset";
@import "compass";
@import "./components/feed-tile";
@import "./components/link-detail";


html, body {
  height: 100%;
  background-color: #424245;
  font-family: "Times New Roman";
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #000000;
}

@import "partials/welcome";
@import "partials/sidebar";
@import "partials/subreddit";
@import "partials/profile";
@import "partials/feed-tile";
@import "partials/post";
@import "partials/mine";