{{#subreddit-window subreddit=subreddit application=controllers.application}}

    <div class="subreddit__feed-grid-container">
        {{feed-grid listing=subreddit.listing enter="enter"}}
    </div>

    {{outlet}}

{{/subreddit-window}}
